@tailwind base;
@tailwind components;
@tailwind utilities;

h5 {
    font-size: 16px;
    font-weight: 700;
    color: #393939;
    margin-bottom: 8px;

}

select {
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 6px;
    outline: none;
    padding: 14px;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
}
option {
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    border-radius: 6px;
    outline: none;
    padding: 10px;
    min-width: 168px;
    width: 100%;
}